body { 
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
	border: none;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: #ffffff;
}
a#skip {
	position: absolute;
	top:-100px;
}
a:link {
	color: #036;
	text-decoration: underline;
}
a:visited {
	color: #609;
}
a:focus,
a:hover,
a:active {
	color: #36c;
	text-decoration: underline;
}
.selected {
	font: Verdana, Arial, Helvetica, sans-serif;
	color: #333399;
	font-weight:600;
}
div.sitenav {
	font: 8pt/12pt Verdana, Arial, Helvetica, sans-serif;
}
/* external links */
a.external {
background: transparent url(/img-std/loc_sprite_ss.png) 100% 4px no-repeat;
padding: 0 10px 0 0;
}
a.external:hover, 
a.external:focus {background-position: 100% -12px;}
a.external span {
display:none;
} 
.nomargin-bottom {margin-bottom: 0;}
.nomargin-bottom2 {margin-bottom: 3px;}
.nomargin-bottom3 {margin-bottom: 5px;}
.gray {color:#666;}
.red {color:#f00;}
.white {color:#fff;}
.fix-float {overflow:hidden;}
dl.alt dt {margin: 0 0 2px 0;font-weight:bold;}
dl.alt dd {margin: 0 0 1em 0;}
ul.plain {
list-style: none;
padding-left: 0px;
}
ul.plain li {
padding: 0;
}
ul.std {
list-style: none;
padding-left: 0px;
}
ul.std li {
padding: 0 0 0 14px;
background: transparent url(/img-std/i_arrow.gif) 3px 5px no-repeat;
}
ul.bullet {
list-style: none;
padding-left: 0px;
}
ul.bullet li {
padding: 0 0 0 14px;
background: transparent url(/img-std/bullet.gif) 3px 6px no-repeat;
}
ul.anchor {
list-style: none;
padding-left: 0px;
}
ul.anchor li {
padding: 0 0 0 14px;
background: transparent url(/img-std/i_arrow_down.gif) 0px 4px no-repeat;
}
a.ar-more,
a.ar-more-gray,
a.ar-back,
a.ar-back-gray {
background-color:transparent;
background-image:url(/img-std/loc_sprite_ss.png);
background-repeat:no-repeat;
background-position: 0 0;
}
a.ar-more,
a.ar-more-gray {
padding: 0 8px 0 0 ;
}
a.ar-back,
a.ar-back-gray {
padding: 0 0 0 8px ;
}
a.ar-more {background-position: 100% -27px;}
a.ar-more:hover, 
a.ar-more:focus {background-position: 100% -43px;}

a.ar-more-gray {background-position: 100% -59px;}
a.ar-more-gray:hover, 
a.ar-more-gray:focus {background-position: 100% -59px;}

a.ar-back {background-position: 0 -75px;}
a.ar-back:hover, 
a.ar-back:focus {background-position: 0 -91px;}

a.ar-back-gray {background-position: 0 -107px;}
a.ar-back-gray:hover, 
a.ar-back-gray:focus {background-position: 0 -107px;}

a.enlarge,
a.newwindow,
a.perma,
a.print,
a.podcast,
a.podcast2,
a.rss,
a.video,
a.video2,
a.audio,
a.audio2,
a.pag-list,
a.pag-gallery,
a.pag-grid,
a.pag-slide {
padding: 0 0 0 16px;
background-repeat: no-repeat;
background-position: 0 0;
background-color:transparent;
background-image:url(/img-std/loc_sprite_ss.png);
}
a.ico_right {
padding: 0 16px 0 0;
}
a.enlarge {background-position: -1px -127px;}
a.enlarge:hover,
a.enlarge:focus {background-position: -1px -143px;}
a.enlarge.ico_right {background-position: 100% -127px;}
a.enlarge.ico_right:hover, 
a.enlarge.ico_right:focus {background-position: 100% -143px;}

a.newwindow {background-position: -1px -158px;}
a.newwindow:hover, 
a.newwindow:focus {background-position: -1px -174px;}
a.newwindow.ico_right {background-position: 100% -158px;}
a.newwindow.ico_right:hover, 
a.newwindow.ico_right:focus {background-position: 100% -174px;}

a.perma {background-position: -1px -223px;}
a.perma:hover, 
a.perma:focus {background-position: -1px -239px;}
a.perma.ico_right {background-position: 100% -223px;}
a.perma.ico_right:hover, 
a.perma.ico_right:focus {background-position: 100% -239px;}

a.print {background-position: -1px -190px;}
a.print:hover, 
a.print:focus {background-position: -1px -206px;}
a.print.ico_right {background-position: 100% -190px;}
a.print.ico_right:hover, 
a.print.ico_right:focus {background-position: 100% -206px;}

a.podcast {background-position: -1px -318px;}
a.podcast:hover,
a.podcast:focus {background-position: -1px -350px;}
a.podcast.ico_right {background-position: 100% -318px;}
a.podcast.ico_right:hover,
a.podcast.ico_right:focus {background-position: 100% -350px;}

a.podcast2 {background-position: -1px -334px;}
a.podcast2:hover,
a.podcast2:focus {background-position: -1px -350px;}
a.podcast2.ico_right {background-position: 100% -334px;}
a.podcast2.ico_right:hover,
a.podcast2.ico_right:focus {background-position: 100% -350px;}

a.rss {background-position: -2px -366px;}
a.rss:hover,
a.rss:focus {background-position: -2px -382px;}
a.rss.ico_right {background-position: 100% -366px;}
a.rss.ico_right:hover,
a.rss.ico_right:focus {background-position: 100% -382px;}

a.video {background-position: -2px -397px;}
a.video:hover,
a.video:focus {background-position: -2px -429px;}
a.video.ico_right {background-position: 100% -397px;}
a.video.ico_right:hover,
a.video.ico_right:focus {background-position: 100% -429px;}

a.video2 {background-position: -2px -413px;}
a.video2:hover,
a.video2:focus {background-position: -2px -429px;}
a.video2.ico_right {background-position: 100% -413px;}
a.video2.ico_right:hover,
a.video2.ico_right:focus {background-position: 100% -429px;}

a.audio {background-position: -2px -446px;}
a.audio:hover,
a.audio:focus {background-position: -2px -478px;}
a.audio.ico_right {background-position: 100% -446px;}
a.audio.ico_right:hover,
a.audio.ico_right:focus {background-position: 100% -478px;}

a.audio2 {background-position: -2px -462px;}
a.audio2:hover,
a.audio2:focus {background-position: -2px -478px;}
a.audio2.ico_right {background-position: 100% -462px;}
a.audio2.ico_right:hover,
a.audio2.ico_right:focus {background-position: 100% -478px;}

a.pag-gallery {background-position: -2px -495px;}
a.pag-gallery:hover,
a.pag-gallery:focus {background-position: -2px -511px;}
a.pag-gallery.pag-selected,
a.pag-gallery.pag-selected:hover,
a.pag-gallery.pag-selected:focus {background-position: -2px -527px;color:#666;text-decoration:none;cursor:text;}

a.pag-grid {background-position: -2px -543px;}
a.pag-grid:hover,
a.pag-grid:focus {background-position: -2px -559px;}
a.pag-grid.pag-selected,
a.pag-grid.pag-selected:hover,
a.pag-grid.pag-selected:focus {background-position: -2px -575px;color:#666;text-decoration:none;cursor:text;}

a.pag-list {background-position: -2px -591px;}
a.pag-list:hover,
a.pag-list:focus {background-position: -2px -607px;}
a.pag-list.pag-selected,
a.pag-list.pag-selected:hover,
a.pag-list.pag-selected:focus {background-position: -2px -623px;color:#666;text-decoration:none;cursor:text;}

a.pag-slide {background-position: -2px -639px;}
a.pag-slide:hover,
a.pag-slide:focus {background-position: -2px -655px;}
a.pag-slide.pag-selected,
a.pag-slide.pag-selected:hover,
a.pag-slide.pag-selected:focus {background-position: -2px -671px;color:#666;text-decoration:none;cursor:text;}

.backtotop {
clear: both;
text-align: right;
}
.backtotop a {
padding: 0 0 0 12px ;
background: transparent url(/img-std/loc_sprite_ss.png) -3px -285px no-repeat;
}
.backtotop a:hover,
.backtotop a:focus {
background-position: -3px -301px;
}

a.gray:link,
a.gray:visited {
color: #666;
text-decoration: underline;
}
a.gray:focus,
a.gray:hover,
a.gray:active {
color: #333;
text-decoration: underline;
}
a.white:link,
a.white:visited {
color: #fff;
text-decoration: underline;
}
a.white:focus,
a.white:hover,
a.white:active {
color: #ccc;
text-decoration: underline;
}
/* Begin Header Table */
table.header {
	width: 760px;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.header tr td.left {
	width: 50%;
	text-align: left;
	font: 80% Arial, Helvetica, sans-serif;
}
table.header tr td.right {
	width: 50%;
	text-align: right;
	vertical-align: bottom;
}
table.header tr td.right input#search_button {
	background-color: #fff;
	width: auto;
	font-weight: bold;
	color: #f60;
	margin: 0px 0px 0px 0px;
	border: 1px solid #f60;
}
table.header tr td.right form input {
	width: 120px;
	margin: 0px 0px 0px 0px;
	background-color: #fff;
	border: 1px solid #999;
}
table.header tr td.right form select {
	font: 9pt Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	background-color: #fff;
	border: 1px solid #999;
}
table.footer {
	width: 760px;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.footer tr td.left {
	width: 50%;
	text-align: left;
	vertical-align: top;
	font: 80% Arial, Helvetica, sans-serif;
}
table.footer tr td.right {
	width: 50%;
	text-align: right;
	vertical-align: top;
	font: 80% Arial, Helvetica, sans-serif;
}
/* Start Layout Table */
table.layout {
	width: 760px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	border: 1px solid #999;
	color:#333;
	text-align: left;
}
table.layout div.header {
	display: inline;
}
table.layout p.top-menu {
	margin: 0px 0px 10px 10px;
	padding: 0px;
	border: 0px;
}
table.layout p {
	font: 8pt/12pt Verdana, Arial, Helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding-top: 0px;
}
table.layout p.nomargin {
	font: 8pt/12pt Verdana, Arial, Helvetica, sans-serif;
	margin: 5px 10px 0px 10px;
	padding: 0px;
}
table.layout tr td div.example {
	margin: 10px 10px 10px 5px;
	padding: 0px;
}
table.layout tr td div.indent1 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 25px;
}
table.layout tr td div.indent2 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 40px;
}
table.layout tr td div.indent2 ul {
	margin: 5px 20px 5px 20px;
	padding-left: 5px;
	font: 100% Verdana, Arial, Helvetica, sans-serif;
}
table.layout tr td div.indent2 ul li {
	margin: 0px;
	font: 100%/140% Verdana, Arial, Helvetica, sans-serif;
	list-style-type: square;
}
table.layout tr td div.indent3 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 65px;
}
table.layout tr td div.indent4 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 80px;
}
table.layout tr td div.indent5 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 95px;
}
table.layout tr td div.indent6 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 110px;
}
table.layout tr td div.example div.indent1 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 25px;
}
table.layout tr td div.example div.indent2 {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 40px;
} 
table.layout p.attribute {
	font: bold 100% "Courier New", Courier, monospace;
	color: #000;
}
table.layout p.top {
	font: 85% Verdana, Arial, Helvetica, sans-serif;
}
table.layout ul {
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
	font: 85% Verdana, Arial, Helvetica, sans-serif;	
}
table.layout ul li {
	margin-left: 0px;
	font: 100%/140% Verdana, Arial, Helvetica, sans-serif;
	list-style-type: square;
}
table.layout ol {
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
	font: 85% Verdana, Arial, Helvetica, sans-serif;
}
table.layout ol li {
	margin-left: 10px;
	font: 100%/140% Verdana, Arial, Helvetica, sans-serif;
}
table.layout tr td ul li div.indent1 {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 5px 0px 5px 25px;
}
table.layout tr td ul li div.indent2 {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 40px;
}
table.layout ul li ul {
	margin-left: 15px;
	font: 95%/130% Verdana, Arial, Helvetica, sans-serif;
	list-style-type: circle;
}
table.layout ul li ul li {
	margin-left: 0px;
	font: 100%/140% Verdana, Arial, Helvetica, sans-serif;
	list-style-type: circle;
}
/* End Layout Table */

/* Start Elements Table */
table.elements {
	width: 95%;
	border: solid 1px #666666;
	align: left;
	margin: 10px;
}
table.elements th {
	width: 18%;
	font: bold 100% Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	vertical-align: bottom;
	background-color: #eeeeee;
	border-bottom: solid 1px #ffffff;
	padding: 5px;
}
table.elements td {
	width: 82%;
	font: 80%/120% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom: dotted 1px #999999;
	padding: 5px;
}
table.elements td.noborder, table.elements th.noborder {
	border-bottom: none 0px;
}
/* End Elements Table */

/* Start Element-List Table */
table.element-list {
	width: 75%;
	border-left: dotted 1px #999999;
	border-top: dotted 1px #999999;
	align: left;
	margin: 10px;
}
table.element-list td {
	width: 25%;
	font: 85%/130% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom: dotted 1px #999999;
	border-right: dotted 1px #999999;
	padding: 5px;
}
table.element-list td.noborder {
	border-bottom: none 0px;
}
/* End Elements Table */
/* Start Element-List Table */
table.dlf-aquifer {
	width: 98%;
	border-left: dotted 1px #999999;
	border-top: dotted 1px #999999;
	align: left;
	margin: 10px;
}
table.dlf-aquifer td {
	font: 80%/130% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom: dotted 1px #999999;
	border-right: dotted 1px #999999;
	padding: 5px;
}
table.dlf-aquifer th {
	width: 15%;
	font: bold 80%/130% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: bottom;
	background-color: #dddddd;
	border-bottom: solid 1px #999999;
	border-right: dotted 1px #999999;
	padding: 5px;
}
table.dlf-aquifer td.noborder {
	border-bottom: none 0px;
}
/* End DLF/Aquifer Table */

/* Start Dublin Core Table */
table.dc-core {
	width: 65%;
	border-left: dotted 1px #999999;
	border-top: dotted 1px #999999;
	align: left;
	margin: 10px;
}
table.dc-core td {
	font: 80%/130% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom: dotted 1px #999999;
	border-right: dotted 1px #999999;
	padding: 5px;
}
table.dc-core th {
	width: 50%;
	font: bold 80%/130% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: bottom;
	background-color: #dddddd;
	border-bottom: solid 1px #999999;
	border-right: dotted 1px #999999;
	padding: 5px;
}
table.dc-core td.noborder {
	border-bottom: none 0px;
}
/* End Elements Table */


form {
	margin-bottom: 0;
}
.contactus {
	float: right;
	text-align: right;
	font: 80% Arial, Helvetica, sans-serif;
}
h1 {
	font: bold 16pt Arial, Helvetica, sans-serif;
	color: #333399;
	padding: 0px;
	margin: 0px 0px 0px 10px;
}
h1 span {
	font: bold italic 12pt Georgia, "Times New Roman", Times, serif;
	color: #6666CC;
	margin-left: 10px;
	padding: 0px;
}
h2 {
	font: bold 13pt Arial, Helvetica, sans-serif;
	/*font-size: 16pt;*/
	color: #6666CC;
	padding: 0px;
	margin: 15px 0px 0px 10px;
}
h2.border {
	font: bold 13pt Arial, Helvetica, sans-serif;
	color: #6666CC;
	padding: 10px 0px 0px 0px;
	margin: 15px 10px 0px 10px;
	background: transparent url(../images/dot.gif) top left repeat-x;
}
h3 {
	font: bold 11pt Arial, Helvetica, sans-serif;
	/*font-size: 14pt;*/
	color: #333333;
	padding: 0px;
	margin: 10px 0px 0px 10px;
}
h4 {
	font: italic bold 10pt Arial, Helvetica, sans-serif;
	color: #666666;
	padding: 0px;
	margin: 10px 0px 0px 10px;
}
.indent {  
	text-indent: 10pt; 
}
th {
	color: #3366CC;
}
hr.dashed {
	border: none 0; 
	border-top: 2px dashed #333399;/*the border*/
	width: 100%;
	height: 2px;/*whatever the total width of the border-top and border-bottom equal*/
}
