body {
	margin: 0px;
	padding: 0px;
	background: #f6f6f6;
	font: 9pt verdana, helvetica, sans-serif;
	text-align: center;
}
table.header {
	width: 765px;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.footer {
	width: 765px;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.layout {
	width: 765px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	border: 1px solid #999;
	color:#333;
	text-align: left;
}
table table.standard {
	margin-left: 10px;
	width: 97%;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	border: 1px solid #999999;
	border-collapse: collapse;
}
table table.standard td {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	border: 1px solid #999999;
}
table table.standard th {
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #883904;
	background: #ffffee;
	padding: 3px;
	border: 1px solid #999999;
}
table table table td {
	margin-left: 5px;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}
table pre {
	margin-left: 10px;
}
table.agenda {
	width: 97%;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border-collapse: collapse;
}
table.agenda td {
	margin: 0;
	padding: 5px;
	border-collapse: collapse;
}
table.subagenda {
	width: 100%;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border-collapse: collapse;
}
table.subagenda td {
	margin: 0;
	padding: 6px;
	border-bottom: 1px dotted #660066;
	border-left: 1px dotted #660066;
	border-collapse: collapse;
}
table.subagenda th {
	margin: 0;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	background: #FFF3EB;
	color: #682C04;
	border-bottom: 1px dotted #660066;
	border-left: 1px dotted #660066;
	border-collapse: collapse;
}
table.subagenda {
	width: 95%;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border-collapse: collapse;
}
table.simpletable td {
	margin: 0;
	padding: 6px;
	border-bottom: 1px dotted #660066;
	border-left: 1px dotted #660066;
	border-collapse: collapse;
}
table.simpletable th {
	margin: 0;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	background: #FFF3EB;
	color: #682C04;
	border-bottom: 1px dotted #660066;
	border-left: 1px dotted #660066;
	border-collapse: collapse;
}
form {
	margin: 0px;
	padding: 0px;
}
form input.button {
	background-color: #FFFFFF;
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #996699;
	margin: 3px 0px 2px 0px;
	border: 1px solid #660066;
}
ul {
	margin-top: 6px;
	margin-bottom: 2px;
	list-style-image: url(images/arrow-bullet.gif);
	margin-left: 10px;
	padding-left: 20px;
}
ol {
	margin-top: 6px;
	margin-bottom: 2px;
	margin-left: 10px;
	padding-left: 30px;
}
ol li {
	font: 9pt/14pt verdana, helvetica, sans-serif;
	line-height: 20px;
}
ul li {
	font: 9pt/14pt verdana, helvetica, sans-serif;
	line-height: 20px;
}
table table ul li {
	font: 8pt/10pt verdana, helvetica, sans-serif;
	line-height: 14px;
}
li.news {
	padding-left: -20px;
	font: 9pt/14pt verdana, helvetica, sans-serif;
}
ul ul {
	margin-top: 0px;
	margin-bottom: 12px;
	list-style-image: url(images/arrow-bullet2.gif);
	margin-left: 25px;
	padding-left: 0px;
}
.sitenav {
	float: left;
	text-align: left;
	font: 8pt verdana, helvetica, sans-serif;
}
.contactus {
	float: right;
	text-align: right;
	font: 8pt verdana, helvetica, sans-serif;
}
#graphic {
	background: #eeccee;
}
#official {
	float: right;
	clear: both;
	font: 8pt verdana, helvetica, sans-serif;
	font-weight: bold;
	color: #66CC33;
	margin-bottom: 10px;
	margin-top: 0px;
}
#breadcrumbs {
	float: left;
	margin-left: 5px;
	font: 8pt verdana, helvetica, sans-serif;
	font-weight: bold;
	color: #660066;
	margin-top: 0px;
}
#breadcrumbs-bottom {
	float: left;
	margin-left: 5px;
	font: bold 8pt verdana, helvetica, sans-serif;
	color: #660066;
	margin-top: 10px;
	padding-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#sitesearch {
	float: right;
	width: auto;
}
h1 {
	clear: left;
	margin-left: 10px;
	padding-top: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font: bold 14pt/17pt Arial, Helvetica, sans-serif;
	color: #663366;
}
h1.homepage {
	clear: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
h2 {
	font: bold 12pt/15pt Arial, Helvetica, sans-serif;
	color: #993399;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding:0px;
}
h2.homepage {
	font: bold 12pt/15pt "Times New Roman", Times, serif;
	color: #660066;
	margin-left: 0px;
	margin-top: 0px;
	padding:0px;
}
h3 {
	font: bold 11pt/14pt Arial, Helvetica, sans-serif;
	color: ##663366;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	padding:0px;
}
h4 {
	font: bold 10pt/13pt Arial, Helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
h5 {
	font: bold 9pt/12pt Arial, Helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
p {
	font: 9pt/14pt verdana, helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}
p.homeblurb {
	font: 9pt/14pt verdana, helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}
a {
	color: #660066;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
a:link {
	color: #660066;
	text-decoration: underline;
}
a:visited {
	color: #993399;
	text-decoration: underline;
}
a:hover {
	color: #996699;
	text-decoration: underline;
	background: #eeeeee;
}
a.menu {
	color: #660066;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:600;
	text-decoration: underline;
}
a.menu:link {
	color: #993399;
	text-decoration: underline;
}
a.menu:visited {
	color: #993399;
	text-decoration: underline;
}
a.menu:hover {
	color: #333;
	text-decoration: underline;
	background: #eeeeee;
}
a#skip {
	position: absolute;
	top:-100px;
}
.command-text {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	font-weight: bold;
	color: #666;
}
.box {
	float: right;
	font: 9pt/12pt Verdana, Arial, Helvetica, sans-serif;
	width: 33%;
	border: 1px dotted #660066;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffeeff;
}
.example {
	clear: all;
	color: #333333;
	width: 90%;
	border: 1px dashed #fbc29d;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffffee;
	font: 9pt "Courier New", Courier, mono;
}
.box2 {
	clear: all;
	font: 9pt/12pt Verdana, Arial, Helvetica, sans-serif;
	color: #666; 
	width: 90%;
	border: 1px dashed #fbc29d;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffffee;
}
hr.dashed {
	border: none 0; 
	border-top: 2px dashed #660066;/*the border*/
	width: 100%;
	height: 2px;/*whatever the total width of the border-top and border-bottom equal*/
} 
div.purpletop {
	background: #660066;
	height: 10px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
}
div.space {
	height: auto;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
}
div.clear {
	clear: both;
}
div.lilac {
	background: #ffeeff;
	height: 4px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
} 
div.green {
	background: #660066;
	height: 8px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
} 
div.clear {
	clear: both;
}
.pdf {
	font: 8pt verdana, helvetica, sans-serif;
}
.selected {
	font: verdana, helvetica, sans-serif;
	color: #660066;
	font-weight:600;
}
p.home-indent {
	margin-left: 1.5em;
	margin-right: 1.5em;
	font: 9pt verdana, helvetica, sans-serif;
}
.center {
	text-align: center;
}

.redtext {
	color: #cc0000;
}
ol.faq {
	font-size: 10pt;
	margin-left: 15px;
	padding-left: 15px;
}
ol.faq blockquote {
	margin-left: 3px;
	padding-left: 3px;
}
ol.faq strong {
	color: #6B4D39;
}
pre {
	clear: all;
	color: #666;
	padding: 0px;
	font: bold 9pt "Courier New", Courier, mono;
	margin: 0px;
}
.old-ver {
	color: #336666;
	background: #ffffee;
}
.highlight {
	color: #FF6600;
}
